
.project-card{
    /* background and border */
    background: whitesmoke;
    border-radius:12px;
    border:1px solid var(--border);
    
    /* margin & padding */
    margin: 1rem;
    padding: 0.5rem;

    /* transitions */
    transition: all 0.2s ease;

    /* position */
    position: relative;
    
}

.tech{
    font-weight: 400;
    /* font-style: italic; */
    /* transition: all 0.2s ease-in-out; */
}

.project-card:hover .github_icon{
    border:1px dashed var(--accent);
}


.project{
    color:var(--text);
}

.btn{
    margin: 0;
    padding: 0;
}

.project-buttons .btn{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;

    height: 50px;
    width: 50px;

    padding: 0;
    margin: 0.1rem;

    transition: all 0.2s ease-in-out;
}

/* .arrow{
    display: inline-block;
    margin-left: 2px;
    transition: transform 0.2s ease;
} */

.project-buttons .btn:hover .arrow{
    transform: translateX(3px);
    /* color: var(--accent); */
}

.date{
    font-size: 0.9rem;
    font-weight: 400;
    font-style: italic;
    /* color: var(--accent); */
}

.github_icon{
    display: block;

    
    height: 100%;
    width: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background:var(--bg);

    /* border */
    border: 1px solid var(--border);
    border-radius: 0 11px 0 11px;

    /* transition */
    transition: all 0.2s ease-in-out;
}

.github_icon:hover{
    transform: translateX(-3px);
    border: 1px solid var(--accent);
}
